/* Background of page */
body {
    background: #FFDBAC;
    background: -moz-linear-gradient(top, #FFDBAC 0%, #AF6431 75%, #7C4723 100%);
    background: -webkit-linear-gradient(top, #FFDBAC 0%, #AF6431 75%, #7C4723 100%);
    background: linear-gradient(to bottom, #FFDBAC 0%, #AF6431 75%, #7C4723 100%);
    height: 100vh;
    margin: 0;
    text-align: center;   
}
/* Title of page */
h1 {
    font-family: 'Sterling'; serif;
}
/* Sub title of page */
h2 {
    font-family: 'Sterling'; serif;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    font-family: 'Sterling'; serif;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #7C4723;
    color: #ddd;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #7C4723;
    color: #ddd;
  }

